#voltar{
    font-weight: bold;
}
ion-button{
    text-decoration: none;
}
a{
    text-decoration: none;
}
ion-content{
    display: flex;
}
.users{
    background-color: rgba(255,255,255,0.4);
    margin: 1em;
    border-radius: 10px;
}
#cadastra{
    margin: 0.5em 6.5em 0.5em 6.5em;
//   font-weight: bold;
}
.tabela ion-col {
    background-color: rgba(255,255,255,0.4);
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
}
ion-grid ion-button{
    margin-top: -0.5em;
    margin-bottom: 0em;
}
.titulo ion-col{
    color: #fff;
    font-weight: bold;
    text-align: center;
}
ion-list ion-col{
    margin: 0.2em 1em 0em 0em;
}
#ion-col{
    margin: 0.2em 3em 0em 2em;
}
#option1{
    width: 40px;
    height: 40px;
    margin: 1em -0.5em 1em 1em;
    border-radius: 5px;
}
#option2{
    width: 40px;
    height: 40px;
    margin: 1em 1em 1em -0.5em;
    border-radius: 5px;
}