<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Serviços</ion-title>
    <ion-button id="voltar" slot="end" (click)="voltar()"> Voltar </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list lines="full">
      <ion-list-header>
        <ion-label> Formulário de Atualização </ion-label>
      </ion-list-header>
      <ion-item color="white" >
        <ion-label position="floating"> Nome </ion-label>
        <ion-input  [(ngModel)]="nome" type="text"></ion-input>
      </ion-item>
      <ion-item color="white" >
        <ion-label position="floating"> Descrição </ion-label>
        <ion-input [(ngModel)]="desc" type="text"></ion-input>
      </ion-item>
      <ion-item color="white" >
        <ion-label position="floating"> Prazo </ion-label>
        <ion-input [(ngModel)]="prazo" type="text"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button color="success" type="button" (click)="updateServ()">
            Atualizar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-list>
</ion-content>
