<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-button id="sair" slot="end" (click)="sair()"> Sair </ion-button>
  </ion-toolbar>
  
</ion-header>

<ion-content color="secondary" [fullscreen]="true">
  
  <!-- href para o kanban -->
  <a href="">
  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Empresa</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Contexto da empresa.
    </ion-card-content>
  </ion-card>
</a>


<a href="">
  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Empresa</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Contexto da empresa.
    </ion-card-content>
  </ion-card>
</a>


</ion-content>
