<ion-content class="content">
  <ion-content class="input-content">
    <div id="img"><img src="../../../assets/imgs/login.png" alt="call-desk"></div>
    <ion-button href="../login/" type="submit"><ion-icon name="caret-back-outline"></ion-icon></ion-button>
      <form id="lista" action="" method="post">
        <ion-item>
          <ion-input  placeholder="Nome completo" name="nome" type="Text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input  placeholder="Cargo" name="cargo" type="Text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input  placeholder="Setor" name="setor" type="Text"></ion-input>
        </ion-item>     
        <ion-item>
          <ion-input  placeholder="Matricula" name="cod" type="Number"></ion-input>
        </ion-item>      
        <ion-item>
          <ion-input  placeholder="Email" name="email" type="Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input  placeholder="Senha" name="senha" type="Password"></ion-input>
        </ion-item>
        <ion-button  id="botao-cadastro" expand="block" shape="round" type="submit">Cadastrar</ion-button> 
      </form>
    </ion-content>
</ion-content>
      
    


 

  


