<ion-content class="content">
  <ion-content class="input-content">
    <div id="img"><img src="../../../assets/imgs/login.png" alt="call-desk"></div>
    <ion-button href="../login/"><ion-icon name="caret-back-outline"></ion-icon></ion-button>
      <ion-list color="#22577a" id="#lista">
        <ion-item>
          <ion-input  placeholder="Login" type="Text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input  placeholder="Senha" type="Password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input  placeholder="Email" type="Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input  placeholder="Cargo" type=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-input  placeholder="Setor" type=""></ion-input>
        </ion-item>     
        <ion-item>
          <ion-input  placeholder="Matricula" type="Number"></ion-input>
        </ion-item>      
      </ion-list>
      <ion-button  id="botao-cadastro" expand="block" shape="round">Cadastrar</ion-button> 
    </ion-content>
</ion-content>
      
    


 

  


