<ion-content class="content">
  <ion-content class="input-content">
    <div id="img"><img src="../../../assets/imgs/login.png" alt="call-desk"></div>
    <ion-list color="primary" id="#lista">
      <ion-button href="../login/"><ion-icon name="caret-back-outline"></ion-icon></ion-button>
      <ion-item>
        <ion-input  placeholder="Login"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input  placeholder="Senha"></ion-input>
      </ion-item>      
      <ion-button id="login" expand="block" shape="round" href="../cadastro/">Fazer Login</ion-button>      
    </ion-list>
      <h6>Esqueceu sua senha? <a href="https://www.google.com.br/?hl=pt-BR">Redefinir sua senha</a></h6>   
  </ion-content>
</ion-content>