<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Usuários </ion-title>
    <ion-button id="voltar" slot="end" (click)="voltar()"> Voltar </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <ion-list-header>
      <ion-label> Formulário de Atualização </ion-label>
    </ion-list-header>
    <ion-item color="white">
      <ion-label position="floating"> Nome </ion-label>
      <ion-input [(ngModel)]="nome" type="text"></ion-input>
    </ion-item>
    <ion-item color="white">
      <ion-label position="floating"> Matrícula </ion-label>
      <ion-input [(ngModel)]="cod" type="number"></ion-input>
    </ion-item>
    <ion-item color="white">
      <ion-label position="floating"> Cargo </ion-label>
      <ion-input [(ngModel)]="cargo" type="text"></ion-input>
    </ion-item>
    <ion-item color="white">
      <ion-label position="floating"> Setor </ion-label>
      <ion-input [(ngModel)]="setor" type="text"></ion-input>
    </ion-item>
    <ion-item color="white">
      <ion-label position="floating"> Email </ion-label>
      <ion-input [(ngModel)]="email" type="text"></ion-input>
    </ion-item>
    <ion-item color="white">
      <ion-label position="floating"> Senha </ion-label>
      <ion-input [(ngModel)]="senha" type="password"></ion-input>
    </ion-item>
    <ion-item color="white">
      <ion-label position="floating"> Nível </ion-label>
      <ion-select [(ngModel)]="nivel" placeholder="Selecione o Nível">
        <ion-select-option value="1"> Técnico </ion-select-option>
        <ion-select-option value="2"> Usuário </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button color="success" type="button" (click)="cadUser()">
          Cadastrar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>