<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title> Painel de Usuários </ion-title>
    <ion-button id="voltar" slot="end" (click)="voltar()"> Voltar </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button color="success" id="cadastra" (click)="addUser()">Cadastrar Usuário</ion-button>
  <ion-list class="users">
    <ion-list-header class="titulo">
      <ion-row>
        <ion-col> Nome </ion-col>
        <ion-col> Matricula </ion-col>
        <ion-col> Setor </ion-col>
      </ion-row>
    </ion-list-header>
    <ion-item-sliding *ngFor="let user of users">
      <ion-item-options side="start">
        <ion-item-option id="option1" color="success">
          <ion-buttons>
            <ion-button (click)="updateUser(user.id_Usuario)">
              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item-option>
      </ion-item-options>
      <ion-item color="primary" class="users">
        <ion-row>
          <ion-col> {{user.nome}} </ion-col>
          <ion-col id="ion-col"> {{user.cod}} </ion-col>
          <ion-col> {{user.setor}} </ion-col>
        </ion-row>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option id="option2" color="danger">
          <ion-buttons>
            <ion-button (click)="deleteUser(user.id_Usuario)">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item-option>
      </ion-item-options> 
    </ion-item-sliding>
  </ion-list>
</ion-content>