<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="../../assets//img/call-desk.png"></ion-img>
  <ion-label> Entrar como: </ion-label>
  <div class="perfil">
    <div class="linha">
      <ion-button>
        <ion-img src="../../assets/icon/homem.png"> </ion-img>
      </ion-button>
      Usuário
    </div>
    <div class="linha">
      <ion-button>
        <ion-img src="../../assets/icon/tecnico.png"></ion-img>
      </ion-button>
      Técnico
    </div>
  </div>
  <div class="footer">
    <ion-label> Não tem uma conta? </ion-label>
    <a> Cadastre-se </a>
    <ion-label id="lbl_footer2"> agora </ion-label>
  </div>
</ion-content>