<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    
    <ion-title>Kanban ADM</ion-title>
    <ion-button id="sair" slot="start" (click)="sair()"> Voltar </ion-button>
    
  </ion-toolbar>
  
</ion-header>

<ion-content color="secondary" [fullscreen]="true">
  
  
  <a href="">
  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Para fazer</ion-card-title>
    </ion-card-header>
  </ion-card>
</a>

<a href="">
  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Em andamento</ion-card-title>
    </ion-card-header>
  </ion-card>
</a>

<a href="">
  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Completo</ion-card-title>
    </ion-card-header>
  </ion-card>
</a>



<ion-fab id="fab" slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="albums-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="primary">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="modal()" color="primary">
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
    
  </ion-fab-list>
</ion-fab>

</ion-content>
