ion-button{
    text-decoration: none;
    color: white;
}
a{
    text-decoration: none;
}
ion-content{
    display: flex;
}
#sair{
    font-weight: bold;
}
ion-fab ion-fab-button{
    width: 70px;
    height: 70px;
}
ion-fab-list ion-fab-button{
    margin-left: 0.7em;
    margin-bottom: 0.5em;
    width: 50px;
    height: 50px;
}