<ion-content class="content">
  <ion-content class="input-content">
    <div id="img"><img src="../../../assets/img/call-desk.png" alt="call-desk"></div>
    <ion-button href="../login/" type="submit"><ion-icon name="caret-back-outline"></ion-icon></ion-button>

    <ion-list id="lista" lines="full">
      <ion-item>
        <ion-label position="floating"> Nome </ion-label>
        <ion-input [(ngModel)]="nome" type="text" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"> Cargo </ion-label>
        <ion-input [(ngModel)]="cargo" type="text" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"> Setor </ion-label>
        <ion-input [(ngModel)]="setor" type="text" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"> Matricula </ion-label>
        <ion-input [(ngModel)]="cod" type="number" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"> Email </ion-label>
        <ion-input [(ngModel)]="email" type="text" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"> Senha </ion-label>
        <ion-input [(ngModel)]="senha" type="password" ></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button id="botao-cadastro" expand="block" shape="round" type="button" (click)="addUser()"> Cadastrar </ion-button>
        </ion-col>
      </ion-row>
    </ion-list>
    </ion-content>
</ion-content>
      
    


 

  


