ion-content{
    color:#22577a;
    #img {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }
    img{
        width: 190px;
        height: 190px;
        border: 8px solid #22577a;
    }
    #lista{
        background: transparent;
        margin-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }
    ion-item{
        margin-top: 15px;
        border-radius: 12%;
    }
}
.input-content{
    color: #fff;
    
    #botao-cadastro{
        --background:#57cc99;
        margin-top: 50px;
        padding-left: 40px;
        padding-right: 40px;        
    }
}
ion-list ion-label{
    color: #ffffff;
}